body {
    background: black;
}

@media (max-width: 1024px) { 
    .top-div {
        background: rgba(133, 133, 133, 0.288);
        font-size:2.5em;
        font-weight: 600;
        color: rgb(59, 124, 221);
        height: 140px;
    }

    .im span {
        font-weight: 400;
        margin-left: 15px !important;
    }

    .second-div {
        background: rgba(133, 133, 133, 0.288);
        height: 140px;
        border-radius: 30px;
    }
    .inputf {
        font-size: 1.5em !important;
        color: white;
        font-weight: 500;
    }

    .third-div {
        background: rgba(133, 133, 133, 0.288);
        height: 450px;
        border-radius: 30px;
    }

    .fourth-div p {
        font-size: xx-large;
        font-weight: 600;
        color: lightgray;
        margin-left: 120px;
        margin-right: 120px;
    }

    .fift-div {
        /* background: rgba(59, 59, 59, 0.288); */
        height: 140px;
        color: white;
        border-radius: 30px;
        max-width: 95%;
        margin-top: 70%;
        font-size: xx-large;
        font-family: sans-serif;
        font-weight: 900;
    }

    .fift-div button {
        background: rgb(69, 158, 199);
    }

    .sixth-div {
        font-size: xx-large;
        font-weight: 900;
        color: rgb(77, 121, 179);
        margin-left: 120px;
        margin-right: 120px;
    }

    .name {
        font-size: x-large;
        color: rgb(168, 161, 164)
    }
    .name2 {
        font-size: 3em;
        font-weight: 400;
        color: rgb(168, 161, 164)
    }

    .third-div input {
        height: 40px !important;
    }

    input:focus {
        outline: none !important;
    }

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 1.5em !important;
        color: white;
        font-weight: 500;
    } 

    .paste {
        color:rgb(104, 157, 226);
        font-weight: 400;
        font-size: 2.5em;
        margin-left: 83%;
        margin-top: 225px;
        background: none;
        border: none;
    }

    .carousel-item {
        height: 100vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .text-nav {
        font-size: 3.5em;
        margin-left: 30px !important;
    }


    .p-text {
        margin-top: 400px;
        font-size: 4em;
        color: rgb(59, 124, 221);
    }

    .p-text2 {
        margin-top: 100px;
        font-size: 5em;
        color: rgb(59, 124, 221);
    }

    .x-img {
        margin-top: 400px;
        font-size: 4em;
        color: rgb(59, 124, 221);
    }

    .x-img img {
        margin-left: 45%;
    }

    .img1 {
        margin-left:25%;
        margin-top: 10%;
    }

    .btn2 {
        /* background: rgba(59, 59, 59, 0.288); */
        height: 120px;
        color: rgb(194, 184, 173);
        border-radius: 30px;
        max-width: 80%;
        margin-top: 20%;
        margin-left: 10% !important;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.6em;
        font-family: sans-serif;
        font-weight: 400;
    }

    .btn2 button {
        background: none;
        border-width: 10px;
        border-radius: 200px;
        border-color: rgb(59, 124, 221);
    }

    .btn3 {
        /* background: rgba(59, 59, 59, 0.288); */
        height: 140px;
        color: rgb(194, 184, 173);
        border-radius: 30px;
        max-width: 90%;
        align-content: center;
        margin-top: 70%;
        /* font-size: 2em; */
        font-family:Georgia, 'Times New Roman', Times, serif;
        /* font-weight: 600; */
    }

    .btn3 button {
        background: none;
        border-width: 10px;
        border-radius: 200px;
        border-color:rgb(59, 124, 221);
    }

}